@charset "utf-8";
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	background-color: #060;
	margin: 0px;
}
#container {
	margin-right: auto;
	margin-left: auto;
	width: 850px;
}
#header {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
#body {
	background-color: #E8FFE8;
	padding: 20px 30px;
}
p, hr {
	margin: 0px;
}
.subHead {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.textFieldWidth {
	width: 400px;
}
.msgBoxRed {
	font-size: 12px;
	background-color: #FFEBE8;
	border: 1px solid #FF0000;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
.msgBoxGreen {
	font-size: 12px;
	background-color: #A9E478;
	border: 1px solid #014501;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
/*#timerBox {
	position: absolute;
	float: left;
	top: 11px;
	right: 20px;
	z-index: 1000;
}
*/
.formTableWrap {
	border: 1px solid #014501;
}
.formTableWrap th {
	background-color: #014501;
	color: #FFF;
	text-align: left;
	padding: 10px;
}
.bigHeading {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #004A00;
}
.wCField {
	width: 270px;
}
.w3things {
	width: 360px;
}
.wInfo {
	width: 240px;
}
.wFull {
	width: 770px;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}input.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}input.button:active {
	position:relative;
	top:1px;
}
.formTableWrap table td {
	border-bottom: #006600 1px solid;
}
.leftColumn {
	float: left;
	width: 49%;
}
.rightColumn {
	float: right;
	width: 49%;
}
.clear {
	clear: both;
}
.w260 {
	width: 260px;
}
input[type='text'], input[type='password'] {
     padding: 6px;}
a {
	color: #060;
}
#navbar {
	padding: 10px 30px;
	color: #E8FFE8;
	text-align: right;
	background: #333;
}
#navbar a {
	color: #E8FFE8;
}
#navbar .left {
	float: left;
	width: 50%;
	text-align: left;
}
#navbar .right {
	float: right;
	width: 50%;
}
.w308 {
	width: 308px;
}
.smallText {
	font-size: 10px;
	font-weight: bold;
	color: #666;
}
